@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-label: "Space Grotesk", ui-monospace, SFMono-Regular, monospace;

  --color-primary: #00383c;
  --color-primary-container: #075056;
  --color-secondary: #a63b00;
  --color-background: #f3faff;
  --color-surface: #f3faff;
  --color-surface-container: #d8f2ff;
  --color-surface-container-low: #e6f6ff;
  --color-surface-container-high: #d1ecfa;
  --color-on-surface: #021f29;
  --color-on-surface-variant: #404849;
  --color-outline-variant: #bfc8c9;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
